# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio/*

# macOS
.DS_store
